@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before{
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

input {
    font-family: 'Raleway', sans-serif;
}

/* Chrom safari and Opera */
::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none; /*IE and Edge*/
    scrollbar-width: none; /* Firefox */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}
  
.home,
.reviews,
.africa,
.asia,
.sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.reviews {
    background: url('/src/images/Review.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.reviews > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
  }

.africa {
    background-image: url('/src/images/AfricaWallpaper.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.asia {
    background-image: url('/src/images/AsiaWallpaper.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.sign-up {
    background-image: url('/src/images/SignUpWallpaper.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}